h1 {font-family: 'Courier New', Courier, monospace;
    background-color: #fc2803;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-leisure-time-cinema-watching-movie-background-template-image_184103.jpg);
}
#cabezera{
    background-color: burlywood;
}
