.logo{
      width: 80px;
      height: 50px;
      background-color: rgb(56, 66, 71);
}
body{
      background-color: rgb(21, 20, 22);
}

#nav{
      text-align: right ;
      color: crimson;
      margin-top: -50px;
}
#nav a{
      color: azure;
      text-decoration: none;
      
}
h1{
      color: rgb(201, 127, 44);
      font-family: 'Anton', sans-serif;
}
.header-content{
      background-color: rgb(56, 66, 71);
      
}
.videojuegos{
      display: flex;
      justify-content: center;

}

.videojuegos img{
      width: 300px;
      height: 300px;
      justify-content: center;
      opacity: 0.6;
}     
.videojuegos :hover{
      opacity: 1;
}
.videojuegos div{
      width: 300px;
      height: 500px;
      border: 5px solid;
      color: rgb(226, 17, 17);
}
h2{
      text-align: center;
      color: rgb(0, 139, 0);
      font-family: 'Akronim', cursive;
      font-size: 30px;
}


#foot{
      text-align: center;
      color: aliceblue;
}


@media screen and(max-width:992px) and (min-width: 400px) {
      .videojuegos{
      display: block;
      background-color: brown;
      width: 100%;
}
      }

      @media only screen and (max-width:800px) {
            /* For tablets: */
            .main {
              width: 80%;
              padding: 0;
            }
            .right {
              width: 100%;
            }
          }
          @media only screen and (max-width:500px) {
            /* For mobile phones: */
            .menu, .main, .right {
              width: 100%;